/*================================================= BLOG NEXT PAGE CSS ===========================================================*/
.img-main-about {
  position: absolute;
  width: 300%;
  left: -50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  margin-top: -270px;
}

.col-about-us {
  margin-top: 180px;
}

.about-us-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: justify;

  color: #ffffff;
}

.about-us-desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;

  color: #ffffff;
}

.div-about-us-title {
  margin-top: 60px;
}

.div-about-us-desc {
  margin-top: 130px;
}

.s2-blog-detail {
  margin-top: -150px;
}

.s3-blog-detail {
  margin-top: -20px;
}

.carousel-number-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;
}

.carousel-numberper-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}

.carousel-title-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.carousel-line {
  width: 154.67px;
  height: 3px;
  margin-top: 10px;

  background: #ffffff;
  border-radius: 8.22695px;
}

.carousel-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;

  color: #ffffff;
}

.carousel-indicators li {
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  border-radius: 40%;
  background-color: rgba(255, 255, 255, 0);
  margin-right: 8px;
}

.text-indicator {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
  text-align: center;
  text-indent: 0;
}

.carousel-indicators .active {
  background-color: #214974;
  height: 100%;
}

.carousel-indicators .active .text-indicator {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 40px;
  margin-top: 5px;

  background: linear-gradient(180deg, #e7df3b 0%, #5dc6ae 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.carousel-inner {
  height: 1020px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 33px;
  height: 32px;
  background: rgba(92, 92, 92, 0.5);
  top: 10px !important;
  bottom: auto;
}

.carousel-control-next {
  right: 30px !important;
  left: auto;
}

.carousel-control-prev {
  right: calc(30px + 30px + 10px) !important;
  left: auto;
}

.s6 {
  position: relative;
  bottom: 0;
  top: auto;
}
