/*================================================= BLOG NEXT PAGE CSS ===========================================================*/
.img-main-contact {
  position: absolute;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  margin-top: -200px;
}

.col-page-contact {
  margin-top: 200px;
}

.contact-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-align: center;

  color: #ffffff;
}

.contact-desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;

  color: #ffffff;
}

.div-contact-title {
  margin-top: 60px;
}

.div-contact-desc {
  width: 1001px;
  height: auto;
  background: linear-gradient(180deg, #e7de3ba7 0%, #5dc6ada9 100%);
  border-radius: 20px;
  margin-top: 20px;
}

.s2-blog-detail {
  margin-top: -200px;
  margin-bottom: 50px;
}

.container-input-contact {
  margin-top: 30px;
}

.input-contact {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border-style: none;
  height: 40px;
  margin-bottom: 15px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #424242;

  padding: 0px 15px;
}

.input-textarea-contact {
  width: 100%;
  min-height: 180px;

  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin-bottom: 40px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #424242;

  padding: 7px 20px;
}

.title-input-contact {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
  margin-bottom: 7px;
}

.row-input-contact {
  margin-left: 0px;
  margin-right: 0px;
}

.s6 {
  position: relative;
  bottom: 0;
  top: auto;
}

.btn-submit {
  position: relative;
  width: 191px;
  height: 33px;
  background: #101820;
  border-radius: 5px;
  border-style: none;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;
}
