/* DESKTOP */
@media (min-width: 992px) {
  /*============================================ BLOG CSS PC ==============================================================*/

  .div-search {
    width: 390px;
  }

  .col-blog-small-md {
    position: static;
    margin-top: 15px;
    margin-left: 0px;
  }

  .col-blog-small-md-2 {
    position: static;
    margin-top: 15px;
    margin-left: 0px;
  }

  .col-blog-small-md .div-blog-small {
    margin-top: 25px;
  }

  .col-blog-small-md-2 .div-blog-small {
    margin-top: -270px;
  }

  .div-blog-big {
    margin-top: 0px;
    margin-left: 0px;
  }

  .s2-blog {
    margin-top: 50px;
  }

  .row-blog-small-3 {
    margin-top: -400px;
  }

  .div-search-bar {
    position: absolute;
    margin-top: 0px;
    margin-left: 510px;
  }

  .col-blog-small {
    margin-top: 15px;
  }

  /*=========================================== BLOG NEXT PAGE CSS =========================================================*/
  .row-blog-nextpage-small {
    margin-top: 50px;
  }

  .row-blog-nextpage-small-2 {
    margin-top: -140px;
  }

  .row-blog-nextpage-small-3 {
    margin-top: -200px;
  }

  .s3-blog-nextpage {
    margin-top: 30px;
    height: 500px;
  }

  .col-blog-next-small-md {
    position: relative;
    margin-top: -215px;
    margin-left: 750px;
  }

  .col-blog-next-small-md-2 {
    position: absolute;
    margin-top: -218px;
    margin-left: 333px;
  }
}
