body {
  background-color: #101820;
}

.img-main {
  width: 100%;
  position: absolute;
}

/* NAVBAR */
.navbar {
  position: relative;
  z-index: 1;
}

.nav-item {
  margin-left: 16px;
}

.nav-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;

  color: #000000;
}

.active {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
}

.nav-link:hover {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
}

/* HOME */
.display-4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  text-shadow: 2px 2px #000000;

  color: #ffffff;

  margin-top: 200px;
}

.lead {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-shadow: 2px 2px #000000;

  color: #ffffff;
}

.banner-body {
  position: absolute;
  height: 2968px;
  margin-top: -32px;

  background: #101820;
}

/* JUMBOTRON */
.jumbotron {
  background-image: url(../img/bg-buildings-sky.png);
  background-size: cover;
  height: 967px;
  margin-top: -35px;
  position: relative;
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(214, 214, 214, 0.42) 14.11%, rgba(16, 24, 32, 0.45) 43.25%, rgba(16, 24, 32, 0.8) 80.52%, #101820 100%);
  position: absolute;
  bottom: 0;
}

.jumbotron .container {
  position: relative;
  z-index: 1;
}

/* UTILITY */
.btn {
  text-transform: uppercase;
  border-radius: 40px;
}

.btn-scroll {
  padding-top: 60px;
  margin: auto;
}

/* WHAT WE DO - CARD */
.s2 {
  margin-top: 200px;
}

.text-wwd {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: right;

  color: #ffffff;
}

.card {
  position: relative;
  overflow: hidden;
  border: none;
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 100%;
  left: 0;
  z-index: 1;
  transition: 0.5s;
  background: linear-gradient(0deg, rgba(23, 23, 23, 0.9), rgba(23, 23, 23, 0.9)), url("./img/img-cfa.png");
}

.card:hover::before {
  bottom: 0;
}

.card img {
  width: 100%;
  height: 280px;
}

.card-text {
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: -100%;
  color: #ffffff;
  left: 0;
  z-index: 2;
  transition: 1.1s;
}

.card-text h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}

.card-title {
  text-transform: uppercase;
}

.card:hover .card-text {
  top: 20px;
}

.card-img-overlay h5 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
}

.container-whatwedo {
  margin-top: -140px;
  position: absolute;
  z-index: 2;
}

/* WHY US */
.s3 {
  margin-top: 100px;
  position: relative;
}

.s3.container-fluid {
  margin-top: -30px;
}

.s3 .img-back {
  width: 100%;
  margin-top: -10px;
}

.s3 .img-head {
  margin-top: -80px;
}

.info-why {
  position: absolute;
  margin-left: 100px;
}

.vertical-line {
  width: 8px;
  height: 500px;

  background: #000000;
  border-radius: 20px;
}

.round-line {
  margin-left: -2px;
}

.dot {
  height: 35px;
  width: 35px;
  background: #424242;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 35px;
  transition: 0.5s;
  margin-left: 3px;
}

.active-dot {
  background: linear-gradient(180deg, #e7df3b 0%, #5dc6ae 100%);
  margin-bottom: 100px;
}

.dot.step3.active-dot {
  margin-bottom: 160px;
}

.dot.step5.active-dot {
  margin-bottom: 100px;
}

.dot.step6.active-dot {
  margin-bottom: 150px;
}

.timeline-head {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
  width: 300px;
  margin-left: 20px;
}

.th1 {
  font-weight: 700;
}

.timeline-body {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
  width: 300px;
  margin-left: 20px;
}

.timeline-text {
  margin-top: 5px;
  margin-left: 50px;
}

.active-text {
  margin-top: -20px;
  margin-left: 90px;
}

.dot:hover {
  background: #5dc6ae;
}

/* OUR PREVIOUS CLIENT - CARD */
.img-head-prev {
}

/* TABLET/PHONE */
@media (min-width: 576px) {
  /* JUMBOTRON */
  .jumbotron {
    background-image: url(../img/bg-buildings-sky.png);
    background-size: cover;
    height: 1025px;
    margin-top: -65px;
  }

  .nav-link {
    font-size: 20px;
  }

  /* WHY */
  .s3 .img-head {
    margin-top: -110px;
  }

  .timeline-head {
    width: 500px;
  }

  .timeline-body {
    width: 500px;
  }

  .timeline-text {
    margin-top: 10px;
    margin-left: 50px;
  }

  .dot {
    height: 42px;
    width: 42px;
    background: #424242;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
    transition: 0.5s;
    margin-left: 0px;
  }

  .active-dot {
    background: linear-gradient(180deg, #e7df3b 0%, #5dc6ae 100%);
    margin-bottom: 70px;
  }

  .dot.step3.active-dot {
    margin-bottom: 120px;
  }

  .dot.step5.active-dot {
    margin-bottom: 70px;
  }

  .dot.step6.active-dot {
    margin-bottom: 70px;
  }

  .vertical-line {
    width: 9px;
    height: 480px;
    border-radius: 20px;
  }
}

/* DESKTOP */
@media (min-width: 992px) {
  /* HOME */
  .display-4 {
    font-size: 65px;
    line-height: 79px;

    margin-top: 200px;
  }

  .lead {
    font-size: 20px;
    line-height: 24px;
  }

  /* NAVBAR */
  .nav-link {
    font-size: 24px;
  }

  .nav-item {
    padding-left: 16px;
  }

  /* JUMBOTRON */
  .jumbotron {
    height: 1025px;
    margin-top: -65px;
  }

  /* CARD */
  /* WHAT WE DO - CARD */
  .text-wwd {
    font-size: 60px;
    line-height: 73px;
    text-align: right;
  }

  .card-text {
    top: -100%;
    left: 0;
  }

  .card:hover .card-text {
    top: 100px;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  /* WHY */
  .s3 .img-head {
    margin-top: -160px;
  }

  .s3 .container-fluid {
    margin-top: -20px;
  }

  .info-why {
    position: absolute;
    margin-left: 100px;
  }

  .vertical-line {
    width: 9px;
    height: 432px;
    border-radius: 20px;
  }

  .round-line {
    margin-left: -2px;
  }

  .dot {
    height: 42px;
    width: 42px;
    background: #424242;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .active-dot {
    background: linear-gradient(180deg, #e7df3b 0%, #5dc6ae 100%);
    margin-bottom: 70px;
  }

  .timeline-head {
    width: 700px;
  }

  .timeline-body {
    width: 700px;
  }

  .timeline-text {
    margin-top: 10px;
    margin-left: 50px;
  }

  .active-text {
    margin-top: -20px;
    margin-left: 90px;
  }

  .dot:hover {
    background: #5dc6ae;
  }

  .dot.step1.active-dot {
    margin-bottom: 50px;
  }

  .dot.step3.active-dot {
    margin-bottom: 70px;
  }

  .dot.step5.active-dot {
    margin-bottom: 70px;
  }

  .dot.step6.active-dot {
    margin-bottom: 70px;
  }

  .vertical-line {
    width: 9px;
    height: 432px;
    border-radius: 20px;
  }
}
