/*=========================================== ROOT BODY ===========================================*/

body {
  background-color: #101820;
  font-family: "Montserrat";
}

.hide-on-mobile {
  display: none !important;
}

/*=========================================== fullpage.js ===========================================*/

.fp-watermark {
  display: none;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: #5dc6ae;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  background: -o-linear-gradient(top, #e7df3b 0%, #5dc6ae 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#e7df3b), to(#5dc6ae));
  background: linear-gradient(180deg, #e7df3b 0%, #5dc6ae 100%);
}

.vertical-scrolling {
  width: 100vw;
  overflow-x: clip;
}

/*=========================================== SCREEN 1: HEADER ===========================================*/

.s1 {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex !important;
  justify-content: space-between !important;
}

.img-main {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

/* NAVBAR */

.navbar {
  position: relative;
  z-index: 1;
}

.nav-item {
  margin-left: 16px;
}

.nav-link {
  font-weight: 400;
  font-size: 1rem;
}

.nav-link:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.active {
  font-style: normal;
  font-weight: 700;
}

/* HOME */

.display-4 {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  color: #ffffff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lead {
  font-weight: 400;
  font-size: 0.75rem;
  text-align: center;
  text-shadow: 2px 2px 2px #000000;
  letter-spacing: 1px;
  color: #ffffff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* UTILITY */

.btn {
  text-transform: uppercase;
  border-radius: 40px;
}

.btn-scroll {
  padding: 10px 0 0;
  text-align: center;
  -webkit-transition: 0.125s ease-in-out;
  -o-transition: 0.125s ease-in-out;
  transition: 0.125s ease-in-out;
}

.btn-scroll:hover {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

/*=========================================== SCREEN 2: WHAT WE DO ===========================================*/

.s2 {
  margin-top: 0px;
  background-color: #101820;
  height: 100vh;
}

.text-wwd {
  font-size: 2rem;
  font-weight: 400;
  line-height: 50px;
  text-align: right;
  color: #ffffff;
}

.card {
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 0;
  width: 100%;
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 100%;
  left: 0;
  z-index: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: -o-linear-gradient(bottom, rgba(23, 23, 23, 0.9), rgba(23, 23, 23, 0.9)), url("./img/img-cfa.png");
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(23, 23, 23, 0.9)), to(rgba(23, 23, 23, 0.9))), url("./img/img-cfa.png");
  background: linear-gradient(0deg, rgba(23, 23, 23, 0.9), rgba(23, 23, 23, 0.9)), url("./img/img-cfa.png");
}

.card:hover::before {
  bottom: 0%;
}

.card img {
  width: 100%;
}

.card-text {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  padding: 0 20px;
  color: #ffffff;
  z-index: 2;
  -webkit-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-img-overlay h5 {
  text-transform: uppercase;
  font-size: 1.15rem;
  line-height: 1.5rem;
  color: #ffffff;
}

.card-text h3 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 20px;
  color: #ffffff;
  max-width: 190px;
}

.card:hover .card-text {
  top: 20px;
}

.container-whatwedo {
  margin-top: -140px;
  position: absolute;
  z-index: 2;
}

/*=========================================== SCREEN 3: WHY US ===========================================*/

.s3 {
  margin-top: 100px;
}

.s3 .img-back {
  width: 100%;
}

.img-bg {
  position: relative;
}

.img-head {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin-top: -80px;
}

.img-head img {
  position: absolute;
  left: 50%;
  max-width: 400px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.vertical-line {
  width: 8px;
  height: 550px;
  background: #000000;
}

.round-line {
  margin-left: -2px;
}

.dot {
  height: 35px;
  width: 35px;
  background: #424242;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 35px;
  margin-left: 3px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.dot:hover {
  background: #5dc6ae;
  cursor: pointer;
}

.dot:hover .timeline-head {
  font-weight: 700 !important;
}

.active-dot {
  background: -o-linear-gradient(top, #e7df3b 0%, #5dc6ae 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#e7df3b), to(#5dc6ae));
  background: linear-gradient(180deg, #e7df3b 0%, #5dc6ae 100%);
}

.dot.step1.active-dot {
  margin-bottom: 60px;
}

.dot.step2.active-dot {
  margin-bottom: 80px;
}

.dot.step3.active-dot {
  margin-bottom: 125px;
}

.dot.step4.active-dot {
  margin-bottom: 60px;
}

.dot.step5.active-dot {
  margin-bottom: 85px;
}

.dot.step6.active-dot {
  margin-bottom: 85px;
}

.timeline-head {
  line-height: 1.5rem;
  font-size: 1.15rem;
  color: #ffffff;
  width: 300px;
  margin-left: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.th1 {
  font-weight: 700;
}

.timeline-body {
  text-align: left;
  line-height: 1.25rem;
  font-size: 0.75rem;
  font-weight: 400;
  color: #ffffff;
  width: 300px;
  margin-left: 20px;
}

.timeline-text {
  margin-top: 5px;
  margin-left: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.active-text {
  margin-top: -20px;
  margin-left: 90px;
}

/*=========================================== SCREEN 4: PREVIOUS CLIENT ===========================================*/

.s4 {
  position: relative;
  margin-top: 100px;
}

.s4 .container {
  margin-top: -30px;
}

.s4 .img-back {
  width: 100%;
}

.text-partner {
  height: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

/*=========================================== SCREEN 5: FINANCIAL INSIGHT ===========================================*/

.s5 {
  margin-top: 100px;
  position: relative;
}

.s5 .img-back {
  width: 100%;
}

.fi-div-title {
  position: absolute;
  bottom: 60px;
  left: 20px;
}

.fi-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 0px;
  color: #ffffff;
}

.fi-date {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #e0e351;
}

.fi-by {
  position: absolute;
  bottom: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
  font-weight: 400;
  font-size: 0.65rem;
  line-height: 12px;
  color: #ffffff;
}

.btn-uncateg {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #ffffff;
  padding: 0.75rem 0.5rem;
  line-height: 0;
  border-style: none;
}

.fi-uncateg {
  font-weight: 500;
  font-size: 0.65rem;
  color: #473e3e;
  text-transform: uppercase;
}

.btn-view-more {
  background: #ffffff;
  min-width: 160px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border-style: none;
}

.insight {
  position: relative;
  margin: 0 0.5rem 1rem;
  height: 300px;
  width: 100%;
  max-width: 350px;
  border-radius: 20px;
}

.insight-meta {
  width: 100%;
  height: 75%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.crop-div {
  height: 150px;
  margin: 0 0.5rem 0;
  padding: 0;
  max-width: 350px;
  overflow-y: clip;
}

.crop-insight {
  position: relative;
  height: 225px;
  width: 100%;
  max-width: 350px;
  border-radius: 20px;
}

.fi-view-more {
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #214974;
}

.div-view-more {
  height: 60px;
}

/*=========================================== SCREEN 6: FOOTER ===========================================*/

.s6 {
  background: -o-linear-gradient(top, #3191a1 0%, #218c66 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#3191a1), to(#218c66));
  background: linear-gradient(180deg, #3191a1 0%, #218c66 100%);
  min-height: 475px;
}

/* .s6 .container {
} */

/* .img-logo {
  position: absolute;
  width: 175px;
  height: 126.56px;
  margin-top: 30px;
  margin-left: 30px;
} */

/* .fo-div-title {
  position: absolute;
  margin-top: 180px;
  margin-left: 40px;
} */

.fo-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
}

.fo-sub-title {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

/* .fo-title-contact {
} */

/* .div-ig {
  position: absolute;
  width: 158.79px;
  height: 38.24px;
  left: 1px;
  top: 20px;
} */

/* .div-fb {
  position: absolute;
  width: 159.24px;
  height: 38.24px;
  left: 1px;
  top: 70px;
} */

/* .div-linkedin {
  position: absolute;
  width: 158.79px;
  height: 38.24px;
  left: 1px;
  top: 120px;
  bottom: 120px;
} */

.img-social {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.fo-social {
  /* position: absolute;
  width: 110px;
  height: 20px;
  left: 49.79px;
  top: 38.28px; */
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

/* .col-contact {
  margin-top: 250px;
}

.col-social {
  margin-top: 200px;
  margin-left: -10px;
} */
