body {
  background-color: #101820;
}

.fp-watermark {
  display: none;
}

.img-main {
  width: 100%;
  position: absolute;
}

/* NAVBAR */
.navbar {
  position: relative;
  z-index: 1;
  margin-top: -220px;
}

.nav-item {
  margin-left: 16px;
}

.nav-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;

  color: #000000;
}

.active {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
}

/* HOME */
.display-4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  text-shadow: 2px 2px #000000;

  color: #ffffff;

  margin-top: 200px;
}

.lead {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-shadow: 2px 2px #000000;

  color: #ffffff;
}

/* UTILITY */
.btn {
  text-transform: uppercase;
  border-radius: 40px;
}

.btn-scroll {
  padding-top: 60px;
}

.btn-uncateg {
  position: absolute;
  width: 82.88px;
  height: 22.23px;
  right: 250px;
  bottom: 19.77px;

  background: #ffffff;
  border-radius: 10.1068px;
  border-style: none;
}

.btn-view-more {
  position: absolute;
  width: 168px;
  height: 43px;
  bottom: 20px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  border-style: none;
}

/* WHAT WE DO - CARD */
.s2 {
  margin-top: 0px;
}

.text-wwd {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: right;

  color: #ffffff;
}

.card {
  position: relative;
  overflow: hidden;
  border: none;
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 100%;
  left: 0;
  z-index: 1;
  transition: 0.5s;
  background: linear-gradient(0deg, rgba(23, 23, 23, 0.9), rgba(23, 23, 23, 0.9)), url("./img/img-cfa.png");
}

.card:hover::before {
  bottom: 0;
}

.card img {
  width: 100%;
  height: 380px;
}

.card-text {
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: -100%;
  color: #ffffff;
  left: 0;
  z-index: 2;
  transition: 1.1s;
}

.card-text h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}

.card-title {
  text-transform: uppercase;
}

.card:hover .card-text {
  top: 20px;
}

.card-img-overlay h5 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
}

.container-whatwedo {
  margin-top: -140px;
  position: absolute;
  z-index: 2;
}

/* WHY US */
.s3 {
  margin-top: 100px;
  position: relative;
}

.s3.container-fluid {
  margin-top: -30px;
}

.s3 .img-back {
  width: 130%;
  margin-top: -10px;
}

.s3 .img-head {
  margin-top: -80px;
}

.s3 .img-fluid {
  max-width: 150%;
}

.vertical-line {
  width: 8px;
  height: 550px;

  background: #000000;
  border-radius: 20px;
}

.round-line {
  margin-left: -2px;
}

.dot {
  height: 35px;
  width: 35px;
  background: #424242;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 35px;
  transition: 0.5s;
  margin-left: 3px;
}

.active-dot {
  background: linear-gradient(180deg, #e7df3b 0%, #5dc6ae 100%);
  margin-bottom: 100px;
}

.dot.step3.active-dot {
  margin-bottom: 160px;
}

.dot.step5.active-dot {
  margin-bottom: 100px;
}

.dot.step6.active-dot {
  margin-bottom: 150px;
}

.timeline-head {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
  width: 300px;
  margin-left: 20px;
}

.th1 {
  font-weight: 700;
}

.timeline-body {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
  width: 300px;
  margin-left: 20px;
}

.timeline-text {
  margin-top: 5px;
  margin-left: 50px;
}

.active-text {
  margin-top: -20px;
  margin-left: 90px;
}

.dot:hover {
  background: #5dc6ae;
}

/* OUR PREVIOUS CLIENT - CARD */
.s4 {
  margin-top: 100px;
  position: relative;
}

.s4 .container {
  margin-top: -30px;
}

.s4 .img-back {
  width: 150%;
  margin-top: -10px;
  margin-left: -210px;
}

.s4 .img-head-prev {
  margin-top: -90px;
}

.img-fluid.img-head-prev {
  max-width: 250%;
  margin-left: -80px;
}

.col-prev {
  margin-top: 15px;
}

.img-angkasa {
  width: 302px;
  height: 103px;
}

.img-satria {
  width: 159px;
  height: 73px;
}

.img-pnm {
  width: 189px;
  height: 74px;
}

.img-pln {
  width: 229px;
  height: 70px;
}

.img-ojk {
  width: 240px;
  height: 103px;
}

.img-mega {
  width: 195px;
  height: 120px;
}

.img-pertamina {
  width: 335px;
  height: 70px;
}

.img-aero {
  width: 172px;
  height: 101px;
}

.img-idx {
  width: 110px;
  height: 116px;
}

.text-partner {
  height: 29px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}

.img-g20 {
  width: 72.35px;
  height: 99.58px;
}

.img-wbaf {
  width: 97px;
  height: 97px;
}

/* OUR FINANCIAL INSIGHT - CARD */
.s5 {
  margin-top: 100px;
  position: relative;
}

.s5 .container {
  margin-top: -30px;
}

.s5 .img-back {
  width: 150%;
  margin-top: 10px;
  margin-left: -205px;
}

.s5 .img-head-prev {
  margin-top: -80px;
}

.fi-by {
  position: absolute;
  width: 101px;
  height: 12px;
  right: 75px;
  bottom: 25px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #ffffff;
}

.fi-uncateg {
  position: absolute;
  left: 6.41%;
  right: 5.51%;
  top: 27.41%;
  bottom: 27.62%;

  /* Montserrat 8 */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  /* identical to box height */

  color: #473e3e;

  text-transform: uppercase;
}

.fi-div-title {
  position: absolute;
  width: 182px;
  height: 51px;
  right: 150px;
  top: 175px;
}

.fi-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 0px;
  color: #ffffff;
}

.fi-date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #e0e351;
}

.img-home-grad {
  margin: 0 0 -260px;
  position: relative;
}

.crop {
  overflow: hidden;
  margin-top: 40px;
}

.fi-view-more {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  /* Darker Blue */

  color: #214974;
}

.div-view-more {
  margin-top: -50px;
  height: 60px;

  display: inline-block;
  background: linear-gradient(to bottom, #10182021, #101820); /* W3C */
}

/* FOOTER */
.s6 {
  position: relative;
  background: linear-gradient(180deg, #3191a1 0%, #218c66 100%);
  border-radius: 0px;
}

.img-logo {
  position: absolute;
  width: 175px;
  height: 126.56px;
  margin-top: 30px;
  margin-left: 30px;
}

.fo-div-title {
  position: absolute;
  margin-top: 180px;
  margin-left: 40px;
}

.fo-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;

  color: #ffffff;
}

.fo-sub-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #ffffff;
}

.div-ig {
  position: absolute;
  width: 158.79px;
  height: 38.24px;
  left: 1px;
  top: 20px;
}

.div-fb {
  position: absolute;
  width: 159.24px;
  height: 38.24px;
  left: 1px;
  top: 70px;
}

.div-linkedin {
  position: absolute;
  width: 158.79px;
  height: 38.24px;
  left: 1px;
  top: 120px;
  bottom: 120px;
}

.img-social {
  position: absolute;
  width: 38.24px;
  height: 38.24px;
  left: 1px;
  top: 30px;
}

.fo-social {
  position: absolute;
  width: 110px;
  height: 20px;
  left: 49.79px;
  top: 38.28px;

  /* Montserrat 16 */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #ffffff;
}

.col-contact {
  margin-top: 250px;
}

.col-social {
  margin-top: 200px;
  margin-left: -10px;
}

/**********************************************************************************************************************************/

/* TABLET/PHONE */
@media (min-width: 576px) {
  /* NAVBAR */
  .navbar {
    margin-top: -460px;
  }

  .nav-link {
    font-size: 20px;
  }

  /* WHAT WE DO */
  .s2 {
    margin-top: 0px;
  }

  /* WHY */
  .s3 .img-head {
    margin-top: -110px;
  }

  .s3 .img-fluid {
    max-width: 100%;
  }

  .timeline-head {
    width: 500px;
  }

  .timeline-body {
    width: 500px;
  }

  .timeline-text {
    margin-top: 10px;
    margin-left: 50px;
  }

  .dot {
    height: 42px;
    width: 42px;
    background: #424242;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
    transition: 0.5s;
    margin-left: 0px;
  }

  .active-dot {
    background: linear-gradient(180deg, #e7df3b 0%, #5dc6ae 100%);
    margin-bottom: 70px;
  }

  .dot.step3.active-dot {
    margin-bottom: 120px;
  }

  .dot.step5.active-dot {
    margin-bottom: 70px;
  }

  .dot.step6.active-dot {
    margin-bottom: 70px;
  }

  .vertical-line {
    width: 9px;
    height: 480px;
    border-radius: 20px;
  }
}

/**********************************************************************************************************************************/

/* DESKTOP */
@media (min-width: 992px) {
  /* NAVBAR */
  .navbar {
    margin-top: 0px;
  }

  /* HOME */
  .display-4 {
    font-size: 65px;
    line-height: 79px;

    margin-top: 200px;
  }

  .lead {
    font-size: 20px;
    line-height: 24px;
  }

  .btn-scroll {
    padding-top: 60px;
    margin: auto;
  }

  /* NAVBAR */
  .nav-link {
    font-size: 24px;
  }

  .nav-item {
    padding-left: 16px;
  }

  /* JUMBOTRON */
  .jumbotron {
    height: 1025px;
    margin-top: -65px;
  }

  /* CARD */
  /* WHAT WE DO - CARD */
  .s2 {
    margin-top: 200px;
  }
  .text-wwd {
    font-size: 60px;
    line-height: 73px;
    text-align: right;
  }

  .card-text {
    top: -100%;
    left: 0;
  }

  .card:hover .card-text {
    top: 100px;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  /* WHY */
  .s3 .img-back {
    width: 100%;
    margin-top: -10px;
  }

  .s3 .img-head {
    margin-top: -160px;
  }

  .s3 .img-fluid {
    max-width: 100%;
  }

  .s3 .container-fluid {
    margin-top: -20px;
  }

  .vertical-line {
    width: 9px;
    height: 432px;
    border-radius: 20px;
  }

  .round-line {
    margin-left: -2px;
  }

  .dot {
    height: 42px;
    width: 42px;
    background: #424242;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .active-dot {
    background: linear-gradient(180deg, #e7df3b 0%, #5dc6ae 100%);
    margin-bottom: 70px;
  }

  .timeline-head {
    width: 700px;
  }

  .timeline-body {
    width: 700px;
  }

  .timeline-text {
    margin-top: 10px;
    margin-left: 50px;
  }

  .active-text {
    margin-top: -20px;
    margin-left: 90px;
  }

  .dot:hover {
    background: #5dc6ae;
  }

  .dot.step1.active-dot {
    margin-bottom: 50px;
  }

  .dot.step3.active-dot {
    margin-bottom: 70px;
  }

  .dot.step5.active-dot {
    margin-bottom: 70px;
  }

  .dot.step6.active-dot {
    margin-bottom: 70px;
  }

  /* WHY */
  .s4 .img-back {
    width: 100%;
    margin-top: -10px;
    margin-left: 0px;
  }

  .s4 .img-head-prev {
    margin-top: -160px;
    width: 130%;
  }

  .s4 .img-fluid {
    max-width: 130%;
  }

  .s4 .container-fluid {
    margin-top: -60px;
  }

  /* Financial */
  .s5 .img-back {
    width: 100%;
    margin-top: -10px;
  }

  .s5 .img-head-prev {
    margin-top: -160px;
    width: 130%;
  }

  .s5 .img-fluid {
    max-width: 130%;
  }

  .s5 .container-fluid {
    margin-top: -20px;
  }

  .fi-by {
    position: absolute;
    width: 101px;
    height: 12px;
    right: 70px;
    bottom: 25px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #ffffff;
  }

  .fi-uncateg {
    position: absolute;
    left: 6.41%;
    right: 5.51%;
    top: 27.41%;
    bottom: 27.62%;

    /* Montserrat 8 */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    /* identical to box height */

    color: #473e3e;

    text-transform: uppercase;
  }

  .fi-div-title {
    position: absolute;
    width: 182px;
    height: 51px;
    right: 130px;
    top: 175px;
  }

  .btn-uncateg {
    position: absolute;
    width: 82.88px;
    height: 22.23px;
    right: 230px;
    bottom: 19.77px;

    background: #ffffff;
    border-radius: 10.1068px;
    border-style: none;
  }

  .btn-view-more {
    position: absolute;
    width: 198px;
    height: 53px;
    top: 24px;
  }

  .img-home-grad {
    margin: 0 0 -260px;
    position: relative;
  }

  .crop {
    overflow: hidden;
    margin-top: 40px;
  }

  .div-view-more {
    margin-top: -50px;
    height: 60px;
  }

  /* FOOTER */
  .s6 {
    position: relative;
    height: 475px;
    background: linear-gradient(180deg, #3191a1 0%, #218c66 100%);
    border-radius: 0px;
  }

  .s6 .container {
    margin-top: -500px;
  }

  .img-logo {
    position: absolute;
    width: 175px;
    height: 126.56px;
    margin-top: 50px;
  }

  .fo-div-title {
    position: absolute;
    margin-top: 220px;
    margin-left: 40px;
  }

  .fo-title-contact {
    margin-top: 20px;
  }

  .div-ig {
    position: absolute;
    width: 158.79px;
    height: 38.24px;
    left: 1px;
    top: 20px;
  }

  .div-fb {
    position: absolute;
    width: 159.24px;
    height: 38.24px;
    left: 1px;
    top: 70px;
  }

  .div-linkedin {
    position: absolute;
    width: 158.79px;
    height: 38.24px;
    top: 120px;
  }

  .img-social {
    position: absolute;
    width: 38.24px;
    height: 38.24px;
    left: 1px;
    top: 30px;
  }

  .fo-social {
    position: absolute;
    width: 110px;
    height: 20px;
    left: 49.79px;
    top: 38.28px;

    /* Montserrat 16 */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    color: #ffffff;
  }

  .col-contact {
    margin-top: 0px;
  }

  .col-social {
    margin-top: 0px;
  }
}
