@media (min-width: 576px) {
  /*=========================================== ROOT BODY ===========================================*/

  /* body {
  } */

  /* .hide-on-mobile {
  } */

  .header {
    font-size: 72px;
    font-size: 8vw;
  }

  
/* .navbar-brand {
} */

  
.no-desktop {
  display: block;
}


  /*=========================================== fullpage.js ===========================================*/

  /* .fp-watermark {
  } */

  #fp-nav {
    display: block;
  }

  /* #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
  } */

  /* #fp-nav ul li a.active span,
  #fp-nav ul li:hover a.active span,
  .fp-slidesNav ul li a.active span,
  .fp-slidesNav ul li:hover a.active span {
  } */

  /* .vertical-scrolling {
  } */

  /*=========================================== SCREEN 1: HEADER ===========================================*/

  /* .s1 {
  } */

  .img-main {
    position: absolute;
    width: 100%;
  }

  /* NAVBAR */

  /* .navbar {
  } */

  /* .nav-item {
  } */

  /* .nav-link {
  } */

  /* .nav-link:hover {
  } */

  /* .active {
  } */

  /* HOME */

  .display-4 {
    font-size: 2.5rem;
  }

  .lead {
    font-size: 0.85rem;
  }

  /* UTILITY */

  /* .btn {
} */

  /* .btn-scroll {
} */

  /* .btn-scroll:hover {
} */

  /*=========================================== SCREEN 2: WHAT WE DO ===========================================*/

  /* WHAT WE DO */
  .s2 {
    margin-top: 0px;
  }

  .s2 .card {
    height: calc(95vh/2);
  }

  .text-wwd {
    font-size: 2.5rem;
  }

  /* .card {
  } */

  /* .card::before {
  } */

  /* .card:hover::before {
  } */

  /* .card img {
  } */

  /* .card-text {
  } */

  /* .card-img-overlay h5 {
  } */

  .card-text h3 {
    max-width: initial;
    font-size: 1rem;
  }

  /* .card:hover .card-text {
  } */

  /* .container-whatwedo {
  }   */

  /*=========================================== SCREEN 3: WHY US ===========================================*/

  /* .s3 {
  } */

  /* .s3 .img-back {
  } */

  /* .img-bg {
  } */

  /* .img-head {
  } */

  .img-head img {
    max-width: initial;
  }

  .vertical-line {
    width: 9px;
    height: 480px;
    border-radius: 20px;
  }

  /* .round-line {
  } */

  .dot {
    height: 42px;
    width: 42px;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  /* .dot:hover {
  } */

  /* .dot:hover .timeline-head {
  } */

  .active-dot {
    margin-bottom: 72px;
  }

  .timeline-head {
    font-size: 1.2rem;
    width: 500px;
  }

  /* .th1 {
  } */

  .timeline-body {
    font-size: 1rem;
    width: 500px;
  }

  .timeline-text {
    margin-top: 10px;
    margin-left: 50px;
  }

  /* .active-text {
  } */

  /*=========================================== SCREEN 4: PREVIOUS CLIENT ===========================================*/

  /* .s4 {
  } */

  /* .s4 .container {
  } */

  /* .s4 .img-back {
  } */

  /* .img-angkasa {
  } */

  /* .img-satria {
  } */

  /* .img-pnm {
  } */

  /* .img-pln {
  } */

  /* .img-ojk {
  } */

  /* .img-mega {
  } */

  /* .img-pertamina {
  } */

  /* .img-aero {
  } */

  /* .img-idx {
  } */

  /* .text-partner {
  } */

  /* .img-g20 {
  } */

  /* .img-wbaf {
  } */

  /*=========================================== SCREEN 5: FINANCIAL INSIGHT ===========================================*/

  /* .s5 {
  } */

  /* .s5 .img-back {
  } */
  
  /* .fi-div-title {
  } */

  /* .fi-title {
  } */
  
  /* .fi-date {
  } */

  /* .fi-by {
  } */
  
  /* .btn-uncateg {
  } */
  
  /* .fi-uncateg {
  } */
  
  .btn-view-more {
    background: #ffffff;
    min-width: 160px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    border-style: none;
  }

  .img-insight-grad {
    display: none;
  }

  /* .crop {
  } */

  .fi-view-more {
    font-weight: 400;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #214974;
  }

  /* .div-view-more {
  } */

  /*=========================================== SCREEN 6: FOOTER ===========================================*/

  .s6 {
    /* height: 475px; */
  }

  /* .s6 .container {
  } */

  /* .img-logo {
    margin-top: 50px;
  } */

  /* .fo-div-title {
    margin-top: 220px;
  } */

  .fo-title {
    font-size: 16px;
  }

  .fo-sub-title {
    font-size: 16px;
  }

  .fo-social {
    font-size: 16px;
  }

  .fo-title-contact {
    margin-top: 20px;
  }

  /* .div-ig {
  } */

  /* .div-fb {
  } */

  /* .div-linkedin {
  } */

  /* .img-social {
  } */

  /* .fo-social {
  } */

  /* .col-contact {
    margin-top: 0px;
  }

  .col-social {
    margin-top: 0px;
  } */
}
