@media (min-width: 576px) {
  /*========================================================== CSS BLOG NEXT TABLET ===========================================*/

  .s2-blog-nextpage {
    margin-top: -86px;
  }

  .row-blog-nextpage-small {
    margin-top: -100px;
    margin-bottom: 30px;
  }

  .row-blog-nextpage-small-2 {
    margin-top: -433px;
  }

  .row-blog-nextpage-small-3 {
    margin-top: -635px;
  }

  .s3-blog-nextpage {
    margin-top: 0px;
    height: 500px;
  }

  .col-blog-next-small-md {
    position: absolute;
    margin-top: -215px;
    margin-left: 351px;
  }

  .col-blog-next-small-md-2 {
    position: absolute;
    margin-top: -218px;
    margin-left: 333px;
  }
}

/**********************************************************************************************************************************/
